
.resp-sharing-button--faq {
    background-color: #87b4dd;
    height: 30px;
    width: 60px;
    line-height: 30px;
    text-align: center;
}

.resp-sharing-button--faq:hover {
    background-color: #6FA8DC
}

.resp-sharing-button--faq {
    background-color: #87b4dd;
    border-color: #87b4dd;
}

.resp-sharing-button--faq:hover,
.resp-sharing-button--faq:active {
    background-color: #6FA8DC;
    border-color: #6FA8DC;
}