.resp-sharing-button--faq {
	background-color: #87b4dd;
	height: 20px;
	width: 96%;
	line-height: 20px;
	text-align: center;
}

.resp-sharing-button--faq:hover {
	background-color: #6FA8DC;
}

.resp-sharing-button--faq {
	background-color: #87b4dd;
	border-color: #87b4dd;
}

.resp-sharing-button--faq:hover, .resp-sharing-button--faq:active {
	background-color: #6FA8DC;
	border-color: #6FA8DC;
}

section {
	width: 100%;
	margin-top: 2em;
	padding: 1px;
	border-radius: 15px;
	-webkit-box-shadow: 10px 14px 40px 4px rgba(200, 200, 200, 1);
	-moz-box-shadow: 10px 14px 40px 4px rgba(200, 200, 200, 1);
	box-shadow: 10px 14px 40px 4px rgba(200, 200, 200, 1);
}
h3 {
	padding-left:10px;
}
section > div {
	padding-left:10px;
	padding-right:10px;
}
img{
	float: right;
}
h4 {
	margin-bottom: 2px;
}