
input, textarea {
    display: block;
    margin: 0 0 0.6em 9em;
    padding: 0.1em 0.3em;
    border: 1px solid black;
    font-size: inherit;
    color: black;
}

fieldset legend {
    position: absolute;
}

input[type="radio"] + label, input[type="checkbox"] + label {
    width: auto;
    float: none;
}

label {
    width: 9em;
    margin: 0.1em 0;
    padding: 0;
    float: left;
}

input[type="radio"], input[type="checkbox"] {
    display: inline;
}

input, textarea {
    display: block;
    margin: 0 0 0.6em 9em;
    padding: 0.1em 0.3em;
    border: 1px solid black;
    font-size: inherit;
    color: black;
}