section article{
    margin: 7px auto 7px auto;
}
section article a{
    color: #006621;
    font-size: 1.6em;
    margin-bottom: 0;
}
section article p{
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 2px auto 2px auto;
}
fieldset{
    margin-bottom: 20px;
}

input, textarea {
    display: block;
    margin: 0 0 0.6em 9em;
    padding: 0.1em 0.3em;
    border: 1px solid black;
    font-size: inherit;
    color: black;
}


label {
    width: 9em;
    margin: 0.1em 0;
    padding: 0;
}

input, textarea {
    display: inline;
    margin: 0 0 0.6em 0em;
    padding: 0.1em 0.3em;
    border: 1px solid black;
    font-size: inherit;
    color: black;
    float: left;
    position: relative;
}

fieldset button{
    background-color: #c6c6c6;
    border: none;
    color: black;
    font-size: 16px;
    margin-left: 8px;
    border-radius: 3px;
}
fieldset input{
    padding: 4px;
    width: 25%;
    line-height: 100%;
    vertical-align: middle;
}
