	.zeigeDrittelkategorie{
		color: white;
		font-size: x-large;
		font-weight: bold;
		background: #6fa8dc;
		background: -moz-radial-gradient(center, ellipse cover, #6fa8dc 0%, #002060 99%);
		background: -webkit-radial-gradient(center, ellipse cover, #6fa8dc 0%,#002060 99%);
		background: radial-gradient(ellipse at center, #6fa8dc 0%,#002060 99%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002060', endColorstr='#6fa8dc',GradientType=1 );
	}
	
	.zeigeDrittelnaehrstoff{
		color: white;
		font-size: x-large;
		font-weight: bold;
		background: #6fa8dc;
		background: -moz-radial-gradient(center, ellipse cover, #6fa8dc 0%, #fdc818 100%);
		background: -webkit-radial-gradient(center, ellipse cover, #6fa8dc 0%,#fdc818 100%);
		background: radial-gradient(ellipse at center, #6fa8dc 0%,#fdc818 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fa8dc', endColorstr='#fdc818',GradientType=1 );
	}
	
	.erstelleMahlzeit{
		position: absolute;
		top: 560px;
		left: 680px;
	}
	
	.zeigeErstesDrittel{
		position: absolute;
		top: 280px;
		left: 270px;
	}
	
	.zeigeZweitesDrittel{
		position: absolute;
		top: 280px;
		left: 465px;
	}
	
	.zeigeDrittesDrittel{
		position: absolute;
		top: 450px;
		left: 375px;
	}
	
	.mahlzeitassistent{
		position: relative;
		margin-top: -200px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.dropdown1drittel{
		position: absolute;
		left: -180px;
		top: 80px;
	}
	
	.dropdown2drittel{
		position: absolute;
		left: 200px;
		top: 88px;
		
	}
	
	.dropdown3drittel{
		position: absolute;
		top: 240px;
		left: 5px;
	    
	}
	
	.erstesDrittel{
		position: absolute;
		left: 200px;
		top: 150px;
	}
	
	.auswahlerstesDrittel{
		position: absolute;
		top: 125px; 
		left: -100px;
		
	}
	
	.zweitesDrittel{
		position: absolute;
		left: 400px;
		top: 143px;
	}
		
	.drittesDrittel{
		position: absolute;
		left: 305px;
		top: 320px;
	}
	
	.rotate120 {
			-webkit-transform: rotate(120deg);
			-moz-transform: rotate(120deg);
			-o-transform: rotate(120deg);
			-ms-transform: rotate(120deg);
			transform: rotate(120deg);
	}
	.rotate240{
			-webkit-transform: rotate(240deg);
			-moz-transform: rotate(240deg);
			-o-transform: rotate(240deg);
			-ms-transform: rotate(240deg);
			transform: rotate(240deg);
	}
	
	.selektiereDrittel {
		 display:inline-block;
	    border:0;
	    width:196px;
	    height:210px;
	    position: relative;
	    -webkit-transition: all 200ms ease-in;
	    -webkit-transform: scale(1); 
	    -ms-transition: all 200ms ease-in;
	    -ms-transform: scale(1); 
	    -moz-transition: all 200ms ease-in;
	    -moz-transform: scale(1);
	    transition: all 200ms ease-in;
	    transform: scale(1); 
	
	}
	
	.resp-sharing-button__link:hover > .selektiereDrittel { 
	
	    z-index: 2;
	    -webkit-transition: all 200ms ease-in;
	    -webkit-transform: scale(1.2);
	    -ms-transition: all 200ms ease-in;
	    -ms-transform: scale(1.2);   
	    -moz-transition: all 200ms ease-in;
	    -moz-transform: scale(1.2);
	    transition: all 200ms ease-in;
	    transform: scale(1.2);
	}