	.zeigeDrittel{
		color: white;
		font-size: medium;
		font-weight: bold;
		background-color: #6FA8DC;
		padding: 10px;
	}
	
	.erstelleMahlzeit{
		position: absolute;
		top: 560px;
		left: 680px;
	}
	
	.zeigeErstesDrittel{
		position: absolute;
		top: 280px;
		left: 270px;
	}
	
	.zeigeZweitesDrittel{
		position: absolute;
		top: 280px;
		left: 465px;
	}
	
	.zeigeDrittesDrittel{
		position: absolute;
		top: 450px;
		left: 375px;
	}
	
	.mahlzeitassistent{
		position: relative;
		margin-top: -200px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.dropdown1drittel{
		position: absolute;
		left: -180px;
		top: 80px;
	}
	
	.dropdown2drittel{
		position: absolute;
		left: 200px;
		top: 88px;
		
	}
	
	.dropdown3drittel{
		position: absolute;
		top: 240px;
		left: 5px;
	    
	}
	
	.erstesDrittel{
		position: absolute;
		left: -50px;
		top: 150px;
	}
	
	.zweitesDrittel{
		position: absolute;
		left: 400px;
		top: 143px;
	}
		
	.drittesDrittel{
		position: absolute;
		left: 305px;
		top: 320px;
	}
	
	.rotate120 {
			-webkit-transform: rotate(120deg);
			-moz-transform: rotate(120deg);
			-o-transform: rotate(120deg);
			-ms-transform: rotate(120deg);
			transform: rotate(120deg);
	}
	.rotate240{
			-webkit-transform: rotate(240deg);
			-moz-transform: rotate(240deg);
			-o-transform: rotate(240deg);
			-ms-transform: rotate(240deg);
			transform: rotate(240deg);
	}